<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <title>Login And Registration Form</title>
  
  <meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author"  content="gtech">
<meta name="viewport"  content="width=device-width,  initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: transparent;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}


  
</style>
  <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
</head>
<body>
  <header>
    <div class="hero">
      <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" class="toggle-btn" onclick="register()">Register</button>
      </div><div class="social-icons">
      <img src="{% static 'images/images/insta.jpg' %}">
      <img src="{% static 'images/images/face.jpg' %}">
      <img src="{% static 'images/images/twitter.jpg' %}">
  </div>

  
  <form id="login" method="GET" action="{% url 'formdonor' %}" class="input-group" >
    {% csrf_token %}
  
    <input type="number" class="input-field" placeholder="Donor User Id" required>
    <input type="text" class="input-field" placeholder="Enter Your City" required>
     <input type="Password" placeholder="Enter Password" required>
     <input type="checkbox" class="checkbox"><span>Remember Password</span>
     <a href="/formdonor"></a><input type="submit" class="submit-btn" value="LOGIN" required />
   </form>
   <form id="register" method="POST" action="{% url 'donor' %}" class="input-group">
    {% csrf_token %}
    <input type="number" name="user_id" class="input-field" placeholder=" Donor User Id" required>
    <input type="text" name="city" class="input-field" placeholder="Enter Your City" required>
    <input type="Password" name="pass" class="input-field" placeholder="Create Password" required>
     <input type="checkbox" class="checkbox"><span>I agree to the terms and conditions</span>
      <input type="submit" class="submit-btn" value="REGISTER" required />
   </form>
    </div>
  </div>
  </header>
  <script >
    var x=document.getElementById('login');
    var y=document.getElementById('register');
    var z=document.getElementById('btn');
   
    function register(){
      x.style.left="-400px";
      y.style.left="50px";
      z.style.left="110px";
    }
    function login(){
      x.style.left="50px";
      y.style.left="450px";
      z.style.left="0";
    }


  </script>







  <footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i  class="fa fa-facebook"></i>
      </a>
      <a href="#" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-android"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            One Hand For Charity
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
       
        <!-- Grid column -->

        <!-- Grid column -->
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Kolhapur Maharashtra</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            onehandcharity.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91-7666406140</p>
          <p><i class="fas fa-print me-3"></i> + 91-7820883853</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://gaonkartech/">onehandcharity.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


</body>
</html>  
