<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image Gallery</h2>
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static/images/1.jpg %}" target="_blank">
          <img src="{% static/images/1.jpg %}" alt="Lights" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static/images/2.jpg %}" target="_blank">
          <img src="{% static/images/2.jpg %}" alt="Nature" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static/images/3.jpg %}" target="_blank">
          <img src="{% static/images/3.jpg %}" alt="Fjords" style="width:100%">
          <div class="caption">
            
          </div>
        </a>


        <div class="container">
        <div class="row">
        <div class="col-md-4">
      <div class="see">
        <a href="{% static/images/4.jpg %}" target="_blank">
          <img src="{% static/images/4.jpg %}" alt="Fjords" style="width:100%">
          <div class="caption">
            
          </div>

</body>
</html>


